<header id="masthead" class="header ttm-header-style-01">
  <div class="top_bar ttm-bgcolor-skincolor clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 d-flex flex-row align-items-center">
          <div class="top_bar_contact_item">
              <div class="top_bar_icon">
                <i class="fa fa-phone"></i></div>
                00 216 71 001 001
              </div>
              <div class="top_bar_contact_item">
                <div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div>
                <a href="mailto:bri@boite-rech.com">bri@boite-rech.com</a></div>
               <div class="top_bar_contact_item ml-auto">
                 <div class="top_bar_icon"><i class="fa fa-clock-o"></i></div>
                 la journée de travail : Lundi - Vendredi : 9:00 - 18:00
                </div>
                <div class="top_bar_contact_item">
                  <div class="top_bar_social">
                    <ul class="social-icons">
                      <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Facebook" tabindex="-1"><i
                        class="fa fa-facebook"></i></a>
                      </li>
                      <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Twitter" tabindex="-1"><i
                        class="fa fa-twitter"></i></a>
                      </li>
                      <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Flickr" tabindex="-1"><i
                        class="fa fa-flickr"></i></a>
                      </li>
                      <li><a class="tooltip-bottom" target="_blank" href="#" data-tooltip="Linkedin" tabindex="-1"><i
                        class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="site-header-menu" class="site-header-menu ttm-bgcolor-white">
          <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="site-navigation d-flex flex-row">
                    <div class="site-branding mr-auto">
                      <a  routerLink="/home" class="home-link" title="BRI" rel="home">
                        <img id="logo1" class="img-center" src="../assets/images/logo1.png" alt="logo1">
                      </a>
                    </div>
                    <div class="btn-show-menu-mobile menubar menubar--squeeze">
                      <span class="menubar-box">
                        <span class="menubar-inner"></span>
                      </span>
                    </div>
                    <nav class="main-menu menu-mobile" id="menu">
                      <ul class="menu">
                        <li class="mega-menu-item active">
                          <a routerLink="/home" class="mega-menu-link">Accueil</a>
                        </li>

                        <li class="mega-menu-item">
                          <a routerLink="/home" class="mega-menu-link"> Evénements</a>
                          <ul class="mega-submenu">
                            <li><a routerLink="/evenement"> Gestion Evénements </a></li>
                          </ul>
                        </li>
                        <li class="mega-menu-item">
                          <a routerLink="/home" class="mega-menu-link">Publications</a>
                          <ul class="mega-submenu">
                            <li><a routerLink="/article"> Gestion Articles </a></li>
                          </ul>
                        </li>

                        <li class="mega-menu-item">
                              <a routerLink="/home" class="mega-menu-link"> Thèse</a>
                              <ul class="mega-submenu">
                                <li><a routerLink="/these"> Gestion Thèse </a></li>
                              </ul>
                            </li>

                        <li class="mega-menu-item">
                            <a routerLink="/home" class="mega-menu-link">Groupe</a>
                            <ul class="mega-submenu">
                              <li>
                                <a routerLink="/membre"> Gestion Membre </a>
                                <a routerLink="/stagaire"> Gestion Stagaire </a></li>
                              </ul>
                            </li>
                            <li class="mega-menu-item">
                              <a routerLink="/home" class="mega-menu-link">Equipe</a>
                              <ul class="mega-submenu">
                                <li>
                                  <a routerLink="/equipe"> Gestion Equipe </a></li>
                                </ul>
                              </li>
                          </ul>
                        </nav>
                        <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                          <div class="header_btn">
                            <a routerLink="/register"
                            class="ttm-btn ttm-btn-size-md
                            ttm-btn-shape-rounded ttm-btn-style-fill ttm-icon-btn-left ttm-btn-color-grey"
                            href="#"> <i class="fa fa-user"></i>Connexion</a>
                            <div id="appointment">
                              <h3>Connexion!</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay"
          data-alias="classic4export" data-source="gallery">
          <div id="rev_slider_5_1" class="rev_slider fullwidthabanner" data-version="5.4.8">
            <ul>
              <li data-index="rs-6" data-transition="slotzoom-horizontal" data-slotamount="1" data-easein="default"
              data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Slide"
              data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
              data-param8="" data-param9="" data-param10="" data-description="">
              <img src="../assets/images/unnamed.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
              data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              <div class="tp-caption tp-resizeme" id="slide-6-layer-1" data-x="['left','left','left','left']"
              data-hoffset="['50','40','30','20']"
              data-y="['middle','middle','middle','middle']" data-voffset="['-105','-105','-114','-74']"

             data-fontsize="['65','65','60','44']"
             data-lineheight="['70','70','65','44']"
             data-fontweight="['700','700','700','700']"
             data-color="#031b4e"
             data-width="none"
             data-height="none"
             data-whitespace="nowrap"

             data-transform_idle="o:1;"
             data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeOut;"
             data-transform_out="opacity:0;s:1000;e:Power4.easeIn;"
             data-start="800"

             data-textAlign="['inherit','inherit','inherit','inherit']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
             data-type="text"
             data-responsive_offset="on" style="z-index:13;font-family:Poppins,sans-serif;">BRI
             <br>
             Centre d'études et de recherches
             <br>
             Informatiques et Innovation
        </div>





      </li>


    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div>

