<!--site-main start-->
<div class="site-main">

  <!--introduction-section-->
  <section class="ttm-row introduction-section clearfix">
      <div class="container">
          <div class="row no-gutters">
              <div class="col-xl-6 col-lg-5 col-xs-20">
                  <!-- ttm_single_image-wrapper -->
                  <div class="ttm_single_image-wrapper mb-20">
                      <img class="img-fluid" src="../assets/images/e.png" alt="">
                  </div>
              </div>
              <div class="col-xl-6 col-lg-7 col-xs-12">
                  <div class="pt-5 res-991-pt-0">
                      <!-- section title -->
                      <div class="section-title">
                          <div class="title-header">
                              <h5>À PROPOS</h5>
                              <h2 class="title">Laboratoire de Recherche en Informatique</h2>
                          </div>
                          <div class="title-desc">
                            Les thèmes de recherche du laboratoire couvrent un large spectre de l'informatique à dominante logicielle et incluent à la fois des aspects fondamentaux et des aspects appliqués : algorithmique, combinatoire, graphes, optimisation discrète et continue, programmation, génie logiciel, vérification et preuves,  parallélisme, calcul à haute performance, grilles, architecture et compilation, réseaux, bases de données, représentation et traitement des connaissances, apprentissage, fouille de données, bioinformatique, interaction homme-machine, etc.  Cette diversité est l'une des forces du laboratoire
                             car elle favorise les recherches aux frontières, là où le potentiel d'innovation est le plus grand.
                           </div><!-- section title end -->
                      <div class="featuredbox-number">
                          <!--featured-icon-box-->
                          <div class="featured-icon-box icon-align-before-content style2">
                              <div class="featured-icon">
                                  <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-grey ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                      <i class="ttm-num ti-info"></i>
                                  </div>
                              </div>
                              <div class="featured-content">
                                  <div class="featured-title">
                                      <h5>Bioinformatique (BioInfo)</h5>
                                  </div>
                                  <div class="featured-desc">
                                      <p>Son programme scientifique est structuré en trois thèmes: Séquences et structures biologiques; Biologie
                                        des systèmes et biologie synthétique; et Intégration et analyse des données biologiques.</p>
                                  </div>
                              </div>
                          </div><!-- featured-icon-box end-->
                           <!--featured-icon-box-->
                          <div class="featured-icon-box icon-align-before-content style2">
                              <div class="featured-icon">
                                  <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-grey ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                      <i class="ttm-num ti-info"></i>
                                  </div>
                              </div>
                              <div class="featured-content">
                                  <div class="featured-title">
                                      <h5>Développement logiciel</h5>
                                  </div>
                                  <div class="featured-desc">
                                      <p>un Service d'Appui au Développement Logiciel autour de la
                                        production de logiciels scientifiques et des problématiques associées</p>
                                  </div>
                              </div>
                          </div><!-- featured-icon-box end-->
                           <!--featured-icon-box-->
                          <div class="featured-icon-box icon-align-before-content style2">
                              <div class="featured-icon">
                                  <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-grey ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                      <i class="ttm-num ti-info"></i>
                                  </div>
                              </div>
                              <div class="featured-content">
                                  <div class="featured-title">
                                      <h5>La sécurité numérique</h5>
                                  </div>
                                  <div class="featured-desc">
                                      <p>Cybersécurité : de la culture « hacker » à la lutte contre la cybercriminalité</p>
                                  </div>
                              </div>
                          </div><!-- featured-icon-box end-->
                      </div>
                  </div>
              </div>
          </div><!-- row end -->
          <div class="row ttm-boxes-spacing-5px mt-20">
              <div class="col-lg-3 col-md-6 col-sm-6 ttm-box-col-wrapper">
                  <!-- ttm-fid -->
                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style1">
                      <div class="ttm-fid-icon-wrapper">
                          <i class="ti ti-cup"></i>
                      </div>
                      <div class="ttm-fid-contents">
                          <h4 class="ttm-fid-inner">
                              <span   data-appear-animation="animateDigits"
                                      data-from="0"
                                      data-to="43"
                                      data-interval="15"
                                      data-before=""
                                      data-before-style="sup"
                                      data-after=""
                                      data-after-style="sub"
                                      class="numinate">43
                              </span>
                              <sub>+</sub>
                          </h4>
                          <h3 class="ttm-fid-title">
                            Récompenses</h3>
                      </div>
                  </div><!-- ttm-fid end -->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 ttm-box-col-wrapper">
                  <!-- ttm-fid -->
                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style1">
                      <div class="ttm-fid-icon-wrapper">
                          <i class="flaticon-healthcare-and-medical-1"></i>
                      </div>
                      <div class="ttm-fid-contents">
                          <h4 class="ttm-fid-inner">
                              <span   data-appear-animation="animateDigits"
                                      data-from="0"
                                      data-to="780"
                                      data-interval="15"
                                      data-before=""
                                      data-before-style="sup"
                                      data-after=""
                                      data-after-style="sub"
                                      class="numinate">780
                              </span>
                              <sub>+</sub>
                          </h4>
                          <h3 class="ttm-fid-title">Publication</h3>
                      </div>
                  </div><!-- ttm-fid end -->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 ttm-box-col-wrapper">
                  <!-- ttm-fid -->
                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style1">
                      <div class="ttm-fid-icon-wrapper">
                          <i class="flaticon-magnifier"></i>
                      </div>
                      <div class="ttm-fid-contents">
                          <h4 class="ttm-fid-inner">
                              <span   data-appear-animation="animateDigits"
                                      data-from="0"
                                      data-to="675"
                                      data-interval="15"
                                      data-before=""
                                      data-before-style="sup"
                                      data-after=""
                                      data-after-style="sub"
                                      class="numinate">675
                              </span>
                              <sub>+</sub>
                          </h4>
                          <h3 class="ttm-fid-title">Equipe</h3>
                      </div>
                  </div><!-- ttm-fid end -->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 ttm-box-col-wrapper">
                  <!-- ttm-fid -->
                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style1">
                      <div class="ttm-fid-icon-wrapper">
                          <i class="flaticon-support"></i>
                      </div>
                      <div class="ttm-fid-contents">
                          <h4 class="ttm-fid-inner">
                              <span   data-appear-animation="animateDigits"
                                      data-from="0"
                                      data-to="457"
                                      data-interval="15"
                                      data-before=""
                                      data-before-style="sup"
                                      data-after=""
                                      data-after-style="sub"
                                      class="numinate">457
                              </span>
                              <sub>+</sub>
                          </h4>
                          <h3 class="ttm-fid-title">chercheur</h3>
                      </div>
                  </div><!-- ttm-fid end -->
              </div>
          </div>
      </div>

  <!--introduction-section end-->






  <!--technology-section-->
  <section class="ttm-row technology-section bg-img7 bg-layer z-index_1 clearfix">
      <div class="container">
          <!-- row -->
          <div class="row">
              <div class="col-lg-6 col-md-12 ml-auto">
                  <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white spacing-7">
                      <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                      <div class="layer-content">
                          <!-- section title -->
                          <div class="section-title">
                              <div class="title-header">
                                <!-- MIN HOUNA -->
                                  <h5>UNE GRANDE TECHNOLOGIE</h5>
                                  <h2 class="title">Laboratoire d’Informatique en Image et Systèmes d’information</h2>
                              </div>
                          </div><!-- section title end -->
                          <div class="accordion clearfix">
                              <!-- toggle -->
                              <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                  <div class="toggle-title"><a href="#">La thème scientifique l'Informatique</a></div>
                                  <div class="toggle-content">
                                      <div class="d-sm-flex align-items-center">
                                          <div class="toggle-figure">
                                              <img src="../assets/images/blog/q.jpg" alt="image">
                                          </div>
                                          <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">La thème scientifique l'Informatique et plus généralement les Sciences et Technologies de l’Information.</div>
                                      </div>
                                  </div>
                              </div><!-- toggle end -->
                              <!-- toggle -->
                              <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                  <div class="toggle-title"><a href="#">Vision intelligente et reconnaissance visuelle</a></div>
                                  <div class="toggle-content">
                                      <div class="d-sm-flex align-items-center">
                                          <div class="toggle-figure">
                                              <img src="../assets/images/blog/q.jpg" alt="image">
                                          </div>
                                          <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">Une partie importante de la recherche effectuée au BRI s’étend à la frontière de notre discipline, au service de problématiques sociétales importantes.</div>
                                      </div>
                                  </div>
                              </div><!-- toggle end -->
                              <!-- toggle -->
                              <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                  <div class="toggle-title"><a href="#">Services, Systèmes distribués et Sécurité</a></div>
                                  <div class="toggle-content">
                                      <div class="d-sm-flex align-items-center">
                                          <div class="toggle-figure">
                                              <img src="../assets/images/blog/q.jpg" alt="image">
                                          </div>
                                          <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">Les principales interfaces se font avec l’ingénierie, les sciences humaines et sociales, les sciences de la vie et les sciences de l’environnement.</div>
                                      </div>
                                  </div>
                              </div><!-- toggle end -->
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- row end -->
      </div>
  </section>
  <!--technology-section end-->




</div><!--site-main end-->
</section></div>

